<div class="flex">
    <div class="m-auto">
        <mat-card>
            <mat-card-title>
                Login Here
            </mat-card-title>

            <mat-card-subtitle>
                Enter your email and password below
            </mat-card-subtitle>

            <mat-card-content>
                <form>

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Enter your Email" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Enter your Password" required>
                    </mat-form-field>

                    <mat-divider></mat-divider>
    
                    <mat-card-actions>
                        <button  (click)="login()"  color="accent" type="submit" mat-raised-button>
                            <span *ngIf="!isLoading">Login</span>
                            <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
                        </button>
                    </mat-card-actions>
    
                </form>
            </mat-card-content>

        </mat-card>
    </div>
</div>
