<mat-toolbar color="primary" class="flex justify-content-between">
  <a routerLink="/" mat-button>Home</a>
  
  <a routerLink="blog" mat-stroked-button>Blog</a>

  <a routerLink="admin/blog" mat-stroked-button>Admin Blogs</a>

  <div>
    <button mat-icon-button>
      <mat-icon 
      [matMenuTriggerFor]="menu" 
      style="margin-right: 20px;" 
      matBadge="15" 
      matBadgeColor="accent">notifications</mat-icon>
    </button>

    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a notification icon with overlaid badge showing the number 15
    </span>
    
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Notification from Tom</button>
      <button mat-menu-item>Notifications from Sales</button>
    </mat-menu>
    <a routerLink="login" mat-stroked-button>Login</a>
  </div>
  
</mat-toolbar>

<router-outlet>