.mat-card {
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 50px;
   margin-bottom: 100px;
   padding: 30px;
}

.example-card {
    max-width: 800px;
}

/* chips */
.example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  